body {
  background-color: white;
}



.heading {

position: absolute;
width: 372px;
height: 118px;
left: 105px;
top: 27px;

}

.add{
position: absolute;
width: 39px;
height: 39px;
left: 1250px;
top: 183px;}
